/* App.css 

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;

}

.app {
  flex: 1;
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
 */
